pyrogram==1.2.20
py-tgcalls
parse-torrent-name
tgcrypto
git+https://github.com/TeamShizuX/kk@master
youtube-search-python
httpx==0.14.2
youtube-search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv
